html,
body
{
    background-color:#fec;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}


a
{
    text-decoration:none;
    color: #885A8B;
}

.title > a > h2
{
    margin:0px;
    font-size:2.4em;
}
.title > a > h3
{
    margin:0px;
    color:#888;
}

.title > a:hover > h2
{
    color:#551A8B;
}
.title > a:hover > h3
{
    color:#555;
}

.title
{
    margin:auto;
    margin-top:100px;
    text-align:center;
    width:400px;
    padding:10px;
    background-color:#fff;
    border-radius:10px;
}

.barholder
{
    margin-top:20px;
    display:table;
    border-spacing:20px 0px;
}

.bar
{
    margin:auto;
    margin-top:20px;
    margin-bottom:10px;
    width:400px;
    display:table-row;
    table-layout:fixed;
}

.bar > a
{
    display:table-cell;
    text-align:center;
    border:solid;
    width:50px;
    height:50px;
    padding:10px;
    border-radius:10px;
    margin-left:10px;
    margin-right:10px;
    font-size:30pt;
}

.minimized > .barholder
{
    margin:0;
    margin-left:-10px;
    border-spacing: 10px 0px;
}

.minimized > .barholder > .bar
{
    margin-left:-1000px;
}

.minimized
{
    width:420px;
    margin-top:20px
}

.bar > .back
{
    border:solid #fff;
}

.bar > .ui
{
    background-color:#acf;
    color:#22235a;
}

.bar > .v
{
    background-color:#a9d;
    color:#22235a;
}

.bar > .a
{
    background-color:#eef;
    color:#22235a;
}

.bar > .fp
{
    background-color:#b9d;
    color:#22235a;
}

.bar > .back:hover
{
    border:solid #fff;
    color:#551A8B;
}

.bar > .ui:hover
{
    background-color:#89f;
}

.bar > .v:hover
{
    background-color:#96d;
}

.bar > .a:hover
{
    background-color:#ccf;
}

.bar > .fp:hover
{
    background-color:#a7e;
}

.body
{
    background-color: white;
    margin:auto;
    margin-top:30px;
	margin-bottom: 80px;
    width:780px;
    padding:10px 50px;
    border-radius:10px;
}

.body > h1, h2, h3, h4, p
{
    margin-left:20px;
}

h3
{
	margin-top:30px;
	margin-bottom:0px;
}

table
{
	margin-top:20px;
	margin-bottom:30px;
	border-spacing:10px 20px;
}

th
{
	width:180px;
}

td
{
	font-style:italic;
}

.subtitle
{
	margin-top:-15px;
	color:#777;
}

.caption
{
    text-align:center;
    margin:auto;
    margin-bottom:20px;
    padding:10px;
    max-width:650px;
}

.imgwrapper
{
	margin-top:0px;
}

img
{
	max-width:700px;
	margin:auto;
	display:block;
	border:solid black;
}

iframe
{
	max-width:700px;
	margin:auto;
	display:block;
}

.section
{
	margin:30px 0px;
}

.imgrowwrapper
{
	display:table;
	margin:auto;
	border-spacing:3px;
	margin-top:20px;
}

.imgrow
{
	display:table-row;
}

.imgrow > a
{
	display:table-cell;
}

.imgrow > a > img
{
	max-width: 140px;
	border:solid black 2px;
}

.imgrow.three > a > img
{
	max-width:100%;
	max-height:150px;
}

.imgrow.two > a > img
{
	max-width:100%;
	max-height:200px;
}

.script > h2
{
	background-color:#ccc;
	padding-left:3px;
}
